        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-table'></i>
                      <span>Pricing tables</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index.html'>
                            <i class='icon-bar-chart'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li>Dashboard</li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>Pricing tables</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row pricing-tables'>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>STARTER</div>
                    <div class='price blue-background'>
                      <span>$20</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>1</strong>
                        user
                      </li>
                      <li>
                        <strong>10GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>20</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>10GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>20</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-primary" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Basic</div>
                    <div class='price orange-background'>
                      <span>$30</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>2</strong>
                        users
                      </li>
                      <li>
                        <strong>20GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>30</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>20GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>30</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-warning" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Pro</div>
                    <div class='price red-background'>
                      <span>$50</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>4</strong>
                        users
                      </li>
                      <li>
                        <strong>40GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>40</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>40GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>40</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-danger" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Ultimate</div>
                    <div class='price purple-background'>
                      <span>$99</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>99</strong>
                        users
                      </li>
                      <li>
                        <strong>99GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>99</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>99GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>99</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-info" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
              </div>
              <div class='group-header'>
                <div class='row'>
                  <div class='col-sm-6 col-sm-offset-3'>
                    <div class='text-center'>
                      <h2>Different usage</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row pricing-tables'>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table not-important'>
                    <div class='header'>STARTER</div>
                    <div class='price blue-background'>
                      <span>$20</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>1</strong>
                        user
                      </li>
                      <li>
                        <strong>10GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>20</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>10GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>20</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-primary" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table'>
                    <div class='header'>Basic</div>
                    <div class='price orange-background'>
                      <span>$30</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>2</strong>
                        users
                      </li>
                      <li>
                        <strong>20GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>30</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>20GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>30</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-warning" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table not-important'>
                    <div class='header'>Pro</div>
                    <div class='price red-background'>
                      <span>$50</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>4</strong>
                        users
                      </li>
                      <li>
                        <strong>40GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>40</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>40GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>40</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-danger" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
                <div class='col-sm-6 col-md-3'>
                  <div class='pricing-table not-important'>
                    <div class='header'>Ultimate</div>
                    <div class='price purple-background'>
                      <span>$99</span>
                    </div>
                    <ul class='list-unstyled features'>
                      <li>
                        <strong>99</strong>
                        users
                      </li>
                      <li>
                        <strong>99GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>99</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                      <li>
                        <strong>99GB</strong>
                        Disk space
                      </li>
                      <li>
                        <strong>99</strong>
                        Email Accounts
                      </li>
                      <li>
                        <strong>Unlimited</strong>
                        Subdomains
                      </li>
                    </ul>
                    <div class='footer'>
                              <a class="btn btn-info" href="#"><i class='icon-signin'></i>
                      Sign up
                      </a>
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	    </div>
