        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-bar-chart'></i>
                      <span>Dashboard</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index.html'>
                            <i class='icon-bar-chart'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li>Ojas</li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>Charts</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
			  
              <hr class='hr-drouble'>
              <div class='row'>
                <div class='col-sm-6 col-md-6'>
                  <div class='box'>
                    <div class='box-content'>
                      <div id='area-chart'></div>
                    </div>
                  </div>
                </div>
              			  
                <div class='col-sm-6 col-md-6'>
                  <div class='box'>
                    <div class='box bordered-box red-border' style='margin-bottom:0;'>
                      <div class='box-header red-background'>
                        <div class='title'>Top 10 Alerts</div>
                        <div class='actions'>
                          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                          </a>
                        
                          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                          </a>
                        </div>
                      </div>
                      <div class='box-content box-no-padding'>
                        <div class='responsive-table'>
                          <div class='scrollable-area'>
                            <table class='table table-hover table-striped' style='margin-bottom:0;'>
                              <thead>
                                <tr>
                                  <th>
                                    Name
                                  </th>
                                  <th>
                                    E-mail
                                  </th>
                                  <th>
                                    Status
                                  </th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Hillard Metz</td>
                                  <td>elinor@gmail.com</td>
                                  <td>
                                    <span class='label label-important'>Important</span>
                                  </td>
                                  <td>
                                    <div class='text-right'>
                                      <a class='btn btn-success btn-xs' href='#'>
                                        <i class='icon-ok'></i>
                                      </a>
                                      <a class='btn btn-danger btn-xs' href='#'>
                                        <i class='icon-remove'></i>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Conner Powlowski</td>
                                  <td>jamir@yahoo.com</td>
                                  <td>
                                    <span class='label label-warning'>Warning</span>
                                  </td>
                                  <td>
                                    <div class='text-right'>
                                      <a class='btn btn-success btn-xs' href='#'>
                                        <i class='icon-ok'></i>
                                      </a>
                                      <a class='btn btn-danger btn-xs' href='#'>
                                        <i class='icon-remove'></i>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Christelle Goodwin</td>
                                  <td>kailyn@yahoo.com</td>
                                  <td>
                                    <span class='label label-important'>Important</span>
                                  </td>
                                  <td>
                                    <div class='text-right'>
                                      <a class='btn btn-success btn-xs' href='#'>
                                        <i class='icon-ok'></i>
                                      </a>
                                      <a class='btn btn-danger btn-xs' href='#'>
                                        <i class='icon-remove'></i>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Pansy McCullough</td>
                                  <td>alexzander@yahoo.com</td>
                                  <td>
                                    <span class='label label-success'>Success</span>
                                  </td>
                                  <td>
                                    <div class='text-right'>
                                      <a class='btn btn-success btn-xs' href='#'>
                                        <i class='icon-ok'></i>
                                      </a>
                                      <a class='btn btn-danger btn-xs' href='#'>
                                        <i class='icon-remove'></i>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Coralie Raynor</td>
                                  <td>nicolas@gmail.com</td>
                                  <td>
                                    <span class='label label-success'>Success</span>
                                  </td>
                                  <td>
                                    <div class='text-right'>
                                      <a class='btn btn-success btn-xs' href='#'>
                                        <i class='icon-ok'></i>
                                      </a>
                                      <a class='btn btn-danger btn-xs' href='#'>
                                        <i class='icon-remove'></i>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        Basic
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div id='stats-chart-test'></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        Realtime
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div id='stats-chart3'></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-6'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        Bar chart
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div id='stats-chart7'></div>
                    </div>
                  </div>
                </div>
                <div class='col-sm-6'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        Pie chart
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div id='stats-chart8'></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='box'>
                    <div class='box-header'>
                      <div class='title'>
                        Sparklines
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content'>
                      <div class='row'>
                        <div class='col-sm-4'>
                          <div class='text-center'>
                            <div id='stats-chart4'></div>
                          </div>
                        </div>
                        <div class='col-sm-4'>
                          <div class='text-center'>
                            <div id='stats-chart5'></div>
                          </div>
                        </div>
                        <div class='col-sm-4'>
                          <div class='text-center'>
                            <div id='stats-chart6'></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

		<script type="text/javascript">
		$(function () {
		    $(document).ready(function () {
		        Highcharts.setOptions({
		            global: {
		                useUTC: false
		            }
		        });

		        $('#stats-chart-test').highcharts({
		            chart: {
		                type: 'spline',
		                animation: Highcharts.svg, // don't animate in old IE
		                marginRight: 10,
		                events: {
		                    load: function () {

		                        // set up the updating of the chart each second
		                        var series = this.series[0];
		                        setInterval(function () {
		                            var x = (new Date()).getTime(), // current time
		                                y = Math.random();
		                            series.addPoint([x, y], true, true);
		                        }, 1000);
		                    }
		                }
		            },
		            title: {
		                text: 'Breach Probability'
		            },
		            xAxis: {
		                type: 'datetime',
		                tickPixelInterval: 150
		            },
		            yAxis: {
		                title: {
		                    text: 'Value'
		                },
		                plotLines: [{
		                    value: 0,
		                    width: 1,
		                    color: '#808080'
		                }]
		            },
		            tooltip: {
		                formatter: function () {
		                    return '<b>' + this.series.name + '</b><br/>' +
		                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
		                        Highcharts.numberFormat(this.y, 2);
		                }
		            },
		            legend: {
		                enabled: false
		            },
		            exporting: {
		                enabled: false
		            },
		            series: [{
		                name: 'Random data',
		                data: (function () {
		                    // generate an array of random data
		                    var data = [],
		                        time = (new Date()).getTime(),
		                        i;

		                    for (i = -19; i <= 0; i += 1) {
		                        data.push({
		                            x: time + i * 1000,
		                            y: Math.random()
		                        });
		                    }
		                    return data;
		                }())
		            }]
		        });
		    });
		});
		$(function () {
		    $('#area-chart').highcharts({
		        chart: {
		            type: 'area'
		        },
		        title: {
		            text: 'Requests/Response Sizes'
		        },
		       
		        xAxis: {
		            allowDecimals: false,
		            labels: {
		                formatter: function () {
		                    return this.value; // clean, unformatted number for year
		                }
		            }
		        },
		        yAxis: {
		            title: {
		                text: 'Number of Messages'
		            },
		            labels: {
		                formatter: function () {
		                    return this.value / 1000 + 'k';
		                }
		            }
		        },
		        tooltip: {
		            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
		        },
		        plotOptions: {
		            area: {
		                pointStart: 5,
		                marker: {
		                    enabled: false,
		                    symbol: 'circle',
		                    radius: 2,
		                    states: {
		                        hover: {
		                            enabled: true
		                        }
		                    }
		                }
		            }
		        },
		        series: [{
		            name: 'Requests',
		            data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
		                1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
		                27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
		                26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
		                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
		                22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
		                10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
		        }, {
		            name: 'Responses',
		            data: [null, null, null, null, null, null, null, null, null, null,
		                5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
		                4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
		                15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
		                33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
		                35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
		                21000, 20000, 19000, 18000, 18000, 17000, 16000]
		        }]
		    });
		});
				</script>
		highcharts.js
