        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-table'></i>
                      <span>Configuration</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index.html'>
                            <i class='icon-bar-chart'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li>Dashboard</li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>Insights</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='box bordered-box blue-border'>
                    <div class='box-header blue-background'>
                      <div class='title'>
                        <i class='icon-ban-circle'></i>
                        Example form
                      </div>
                      <div class='actions'>
                        <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                        </a>
                        
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                        </a>
                      </div>
                    </div>
                    <div class='box-content box-double-padding'>
                      <form class='form' style='margin-bottom: 0;'>
                        <fieldset>
                          <div class='col-sm-4'>
                            <div class='box'>
                              <div class='lead'>
                                <i class='icon-github text-contrast'></i>
                                Lorem ipsum
                              </div>
                              <small class='text-muted'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl est, vulputate at porttitor non, interdum a mauris. Phasellus imperdiet gravida pulvinar.</small>
                            </div>
                          </div>
                          <div class='col-sm-7 col-sm-offset-1'>
                            <div class='form-group'>
                              <label>Full name</label>
                              <input class='form-control' id='full-name' type='text'>
                            </div>
                            <div class='form-group'>
                              <label>Street</label>
                              <input class='form-control' id='address-line2' placeholder='Street placeholder' type='text'>
                              <p class='help-block'>
                                <small class='text-muted'>Description for street field</small>
                              </p>
                            </div>
                            <div class='form-group'>
                              <label>City</label>
                              <input class='form-control' id='city' placeholder='City placeholder' type='text'>
                            </div>
                            <div class='form-group'>
                              <label>Company</label>
                              <div class='row'>
                                <div class='col-sm-6 col-md-6 col-lg-4'>
                                  <div class='input-group'>
                                    <input class='form-control' id='appendedInputButtons1' type='text'>
                                    <span class='input-group-btn'>
                                      <button class='btn' type='button'>
                                        <i class='icon-building'></i>
                                      </button>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <hr class='hr-normal'>
                        <fieldset>
                          <div class='col-sm-4'>
                            <div class='box'>
                              <div class='lead'>
                                <i class='icon-ambulance contrast'></i>
                                Dapibus suscipit arcu
                              </div>
                              <small class='text-muted'>Proin eu nibh ut urna tristique rhoncus. Sed euismod, quam sed dignissim imperdiet, nulla leo vehicula mi, a sagittis lacus augue nec sapien.</small>
                            </div>
                          </div>
                          <div class='col-sm-7 col-sm-offset-1'>
                            <div class='form-group'>
                              <label>Disabled input</label>
                              <input class='form-control' disabled id='full-name1' type='text'>
                            </div>
                            <div class='form-group'>
                              <label class='checkbox-inline'>
                                <input id='inlineCheckbox1' type='checkbox' value='option1'>
                                Inline 1
                              </label>
                              <label class='checkbox-inline'>
                                <input id='inlineCheckbox2' type='checkbox' value='option2'>
                                Inline 2
                              </label>
                              <label class='checkbox-inline'>
                                <input id='inlineCheckbox3' type='checkbox' value='option3'>
                                Inline 3
                              </label>
                            </div>
                            <div class='form-group'>
                              <label>Money</label>
                              <div class='row'>
                                <div class='col-sm-6 col-md-6 col-lg-4'>
                                  <div class='input-group'>
                                    <span class='input-group-addon'>
                                      $
                                    </span>
                                    <input class='form-control input-lg text-right' id='appendedPrependedInput' type='text'>
                                    <span class='input-group-addon'>.00</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class='form-actions'>
                          <div class='row'>
                            <div class='col-sm-7 col-sm-offset-5'>
                              <div class='btn btn-primary btn-lg'>
                                <i class='icon-save'></i>
                                Save
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
			  
            </div>
          </div>
	    </div>
